#nav-header{
  font-weight: bold;
  font-size: 30px;
}

.nav-item{
padding-top: 15px;
}

a{
  color: #cc5500;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #CC5500
}


.nav-item{
  color: #CC5500
}

#footer{
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #cc5500;
}

header{
font-size: 50px;
font-weight: bold;
  color: #CC5500

}
.profilepic{
  border: solid #cc5500;
    border-width: 5px;
    margin-top: 30px;
    width: 100%;
}

.list{
  margin-left: 40px;
  font-size: 20px;
  font-weight: 900;
}

.button{
 background-color: #CC5500;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
font-weight: bold;
border-style: none;
margin-top: 30px;
margin-bottom: 30px;
color: white;
  
}

.button:hover{
  background-color: #8d3b01;
 cursor: pointer;
   
 }

 .error{
  color: rgb(114, 4, 4);
 }

 .submitted{
  color: rgb(0, 92, 61);
 }